@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Sedan:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

body{
    background-color: rgb(73, 73, 73);
}
main{
    background-color: black;
    width: 288px;
    padding: 0.5%;
    margin: auto;
}
h1{
    color:rgb(0, 4, 255);
    font:200 3em lumanosimo;
    text-align: center;
}
h2{
    color: aqua;
    font: normal 900 2em sedan;
    text-align: center;
}
h3{
    text-align: left;
    color: aquamarine;
}
p{
    text-align: justify;
    color: aliceblue;
    font: 200 1.2em sans-serif;
}
pre{
    color: aliceblue;
}
mark{
    background-color: aqua;
}
blockquote{
    background-color: aliceblue;
}
ol{
    color: aliceblue;
}
a{
    color: aqua;
}
ul{
    color: aliceblue;
}
dd{
    font-size: 1em;
}
dl{
    color: aliceblue;
}
dt{
    color: aqua;
}
i{
    font: normal 100 1em verdana;
}
#exemplos{
    font: normal 200 2em Gill Sans;
}
#principal{
    background-color: black;
    width: 320px;
    margin: auto;
    padding: 3px;
    font: 100 3em verdana;
    color: rgb(23, 181, 255);
}
.verde{
    color: green;
    font: normal 900 2em verdana;
}
.amarelo{
    color: yellow;
    font: normal 900 2em verdana;
}
.vermelho{
    color: red;
    font: normal 900 2em verdana;
}
#div1{
    background-color: aqua;
    height: 200px;
    width: 200px;
    text-align: center;
    border: 1px black solid;
    display: inline-block;
    border-radius: 15px;
}
#div2{
    background-color: aqua;
    text-align: center;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    border: 1px black solid;
    display: inline-block;
}
#div3{
    background-color: aqua;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 1px black solid;
    display: inline-block;
}
#div1:hover{
    background-color: rgb(255, 0, 0);
    color: rgba(255, 255, 255, 0);
}
#div2:hover{
    background-color: green;
    color: rgba(240, 248, 255, 0);
}
#div3:hover{
    background-color: blue;
    color: rgba(240, 248, 255, 0);
}
#div4{
    color: blue;
    font: normal 200 50px verdana;
    width: 1px;
}
#div5{
    color: red;
    font: normal 200 50px verdana;
    width: 1px;
}
#div6{
    color: green;
    font: normal 200 50px verdana;
    width: 1px;
}
#div4:hover{
    color: red;
}
#div5:hover{
    color: green;
}
#div6:hover{
    color: blue;
}
#div7 > p{
    display: none;
}
#div7:hover > p{
    color: rgb(247, 247, 247);
    display: block;
    font: 300 1em verdana;
}
#div7{
    color: aliceblue;
}
.link{
    color: rgb(255, 0, 255);
    font: normal 300 20px sans-serif;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.link::after{
    content: ' [link]';
    color: aqua;
}
.link:visited{
    color: rgb(251, 255, 0);
}
.link:hover{
    text-decoration: underline;
}
.link:active{
    color: rgb(255, 0, 255);
}
.textodeexemplo{
    color: aliceblue;
}
.textodeexemplo:after{
    content: '⬅️';
}
.textodeexemplo:before{
    content: '➡️';
}
.box{
    border-width: 3px;
    border-color: red;
    border-style: solid;
    padding: 1px;
    color: aliceblue;

}
