@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0: black;
    --cor1: white;
    --cor2: #00AD28;
    --cor3: #94CC7A;
    --cor4: #5A993D;
    --cor5: #2E6614;
    --cor6: #103300;
    --fontepadrao: 'Oswald';
    --fontedestaque: "Bebas Neue";
}
body{
    background-color: var(--cor1);
}
header{
    background-image: linear-gradient(to right, var(--cor1), var(--cor3));
}
.imgdesenvolvimento{
    height: 86px;
    width: 413px;
}
nav{
    background-color: var(--cor1);
    margin: 10px 10px 10px 80px;
}
ul{
    display: flex;
    list-style-position: inside;
    flex-direction: row;
}
li{
    margin: 10px 10px 0px 10px;
    height: 49px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
li:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 10px;
    transition-duration: 0.5s;
}
a{
    display: flex;
    flex-direction: row;
    margin: auto;
    text-decoration: none;
    font: 300 23px var(--fontepadrao);
    padding: 0px 6px 0px 6px;
    color: var(--cor0);
    transition-duration: 1s;
}
a::before{
    content: "•";
}
article{
    display: flex;
    width: 28em;
}
aside{
    font: 100 2em var(--fontedestaque);
    display: inline;
    margin: 0px 0px 0px 66px;
    height: 34px;
    width: 375px;
}
.conteudo1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.imgiorgute{
    height: 18em;
    width: 21em;
    margin: 10px 10px 10px 10px;
}
.textiorgute{
    margin: 45px 10px 10px 10px;
    width: 346px;
    height: 100%;
    font: 100 20px var(--fontepadrao);
    text-align: justify;
}
.conteudo2{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    max-width: 1084px;
    min-width: 320px;
    background-color: gray;
    border-radius: 30px;
}
.imgdesen{
    margin: 19px 0px 10px 0px;;
    max-width: 1035px;
    min-width: 10px;
    border-radius: 30px;
}
.textdesen{
    max-width: 933px;
    min-width: 320px;
    font: 300 20px var(--fontepadrao);
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.438);
}
.video{
    background-color: #103300;
    margin: 20px 0px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}
.youtube{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
