body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}
#linha1{
    background-color: blue;
    color: yellow;
}
#linha2{
    background-color: green;
    color: red;
}
#linha3{
    background-color: red;
    color: green;
}
#linha4{
    background-color: yellow;
    color: blue;
}
td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}
.numero{
    text-align: end;
    vertical-align: top;
}